{% extends "base.html" %}
{% block content %}
<h2 class="mb-4 text-center">Acerca de NutriApp</h2>
<p class="text-center">Esta app fue elaborada por:</p>
<div class="row justify-content-center mt-4">
  <div class="col-md-6">
    <div class="card shadow-sm p-4">

      <p><strong>Alumnos:</strong> Leonardo Vargas Lopez  y  Víctor Manuel Jacobo Hernández</p>
      <p><strong>Materia:</strong> Programación - CETis 61</p>
      <p><strong>Email:</strong> 23308060610160@cetis61.edu.mx  y  23308060610434@cetis61.edu.mx</p>
    </div>
  </div>
</div>
{% endblock %}
