{% extends "base.html" %}
{% block content %}
<h2 class="mb-4 text-center">Alimentos</h2>
<div class="row mt-4">
  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Manzana</h5>
      <p class="card-text">52 kcal / 100 g</p>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Pechuga de pollo</h5>
      <p class="card-text">165 kcal / 100 g</p>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Arroz integral</h5>
      <p class="card-text">111 kcal / 100 g</p>
    </div>
  </div>
</div>
{% endblock %}
