{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="row align-items-center">

    <div class="col-md-7 text-center mb-4 mb-md-0">
      <h1 class="mb-4 display-4">Bienvenido a la NutriApp</h1>
      <p class="lead mb-4">
        Tu guía para una alimentación saludable. Explora planes, calcula tu IMC y descubre información sobre alimentos.
      </p>

      <img src="{{ url_for('static', filename='img/logoNutriAppCetis61.png') }}" width="220" class="mt-3 rounded shadow-sm">

      <div class="mt-5 text-center">
        <a href="/planes" class="btn btn-primary btn-lg me-2">Ver Planes</a>
        <a href="/alimentos" class="btn btn-success btn-lg">Consultar Alimentos</a>
      </div>
    </div>

    <div class="col-md-5">

       
          <img src="{{ url_for('static', filename='img/nutri2.gif') }}" width="720" >

    

    </div>



  </div>
</div>
{% endblock %}

