{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
<h2 class="mb-4 text-center">alimentos</h2>

<div class="row mt-4">

     <form method="POST" action="{{ url_for('buscar') }}" class="mt-4">
  <label class="form-label fw-semibold">Escribe el nombre del alimento</label>
  <input type="text" name="nombre" class="form-control" placeholder="Ejemplo: apple, chicken, rice...">
  <button class="btn btn-success w-100 mt-3 fw-bold">Buscar</button>
</form>

<div class="row mt-4"></div>

  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Manzana</h5>
      <p class="card-text">52 kcal / 100 g</p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Pechuga de pollo</h5>
      <p class="card-text">165 kcal / 100 g</p>
    </div>
  </div>
  
  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Carnita asada</h5>
      <p class="card-text">250 kcal / 100 g</p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Chapulines</h5>
      <p class="card-text">120 kcal / 100 g</p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Elote con chile</h5>
      <p class="card-text">110 kcal / 100 g</p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Cereal con leche</h5>
      <p class="card-text">180 kcal / 100 g</p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Tacos de suadero</h5>
      <p class="card-text">220 kcal por taco</p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Pan de muerto</h5>
      <p class="card-text">350 kcal / 100 g</p>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Tamales</h5>
      <p class="card-text">215 kcal por pieza</p>
    </div>
  </div>

  

  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Gelatina de mosaico</h5>
      <p class="card-text">90 kcal / 100 g</p>
    </div>
  </div>

</div>
{% endblock %}