{% extends "base.html" %}
{% block content %}

<h2 class="mb-4 text-center">Calculadora de IMC</h2>

<div class="row justify-content-center mt-4">
    <div class="col-md-6">

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Edad</label>
                <input type="number" class="form-control" name="edad" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Sexo</label>
                <select class="form-control" name="sexo" required>
                    <option value="">Seleccione...</option>
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Peso (kg)</label>
                <input type="number" class="form-control" name="peso" step="0.1" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Altura (m)</label>
                <input type="number" class="form-control" name="altura" step="0.01" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Calcular IMC</button>
        </form>

       
        {% if resultado %}
            {% if resultado.error %}
                <div class="alert alert-danger mt-3 text-center">{{ resultado.error }}</div>
            {% else %}
                <div class="alert alert-success mt-3 text-center">
                    <strong>Tu IMC es {{ resultado.imc }}</strong> — {{ resultado.mensaje }}<br>
                    <strong>Edad:</strong> {{ resultado.edad }} años <br>
                    <strong>Sexo:</strong> {{ resultado.sexo }}
                </div>
            {% endif %}
        {% endif %}

    </div>
</div>

{% endblock %}
