{% extends "base.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<div class="col-md-5 mx-auto mt-4">
    <h2 class="text-center mb-3">Iniciar sesión</h2>

    <form method="POST" class="p-4 border rounded bg-light">

        <div class="mb-3">
            <label class="form-label">Correo electrónico</label>
            <input type="email" name="correo" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button class="btn btn-primary w-100" type="submit">Entrar</button>
    </form>
</div>
{% endblock %}
