{% extends "base.html" %}
{% block content %}
<h2 class="mb-4 text-center">Planes Alimenticios</h2>
<div class="row mt-4">
  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Bajar de peso</h5>
      <p class="card-text">Déficit calórico moderado y recomendaciones saludables.</p>
      <a href="#" class="btn btn-success btn-sm">saber mas</a>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Aumentar masa</h5>
      <p class="card-text">Superávit calórico y proteínas para ganar músculo.</p>
      <a href="#" class="btn btn-success btn-sm">saber mas</a>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card card-hover shadow-sm h-100 text-center p-3">
      <h5 class="card-title">Mantenimiento</h5>
      <p class="card-text">Alimentación equilibrada para mantener tu peso.</p>
      <a href="#" class="btn btn-success btn-sm">saber mas</a>
    </div>
  </div>
</div>
{% endblock %}
